<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>add room</title>
</head>
<body>
<div class="container-fluid text-center d-flex align-items-center justify-content-center" style="height: 100vh">
  <div class="border border-secondary p-4 rounded">
    <h2 class="mb-5">Add Room</h2>
    <form action="#" th:action="@{/add/room}" method="post" th:object="${room}">
      <p>
        <input type="text"  name="name" th:field="${room.name}" class="form-control" placeholder="name" required/>
      </p>
            <p>
        <input type="number" name="seats" min="1" th:field="${room.seats}" class="form-control" placeholder="seats" required/>
      </p>

      <p>
        <input type="text" name="building" th:field="${room.building}" class="form-control" placeholder="description" required/>
      </p>
      <p>
        <input type="submit" value="post" class="btn btn-primary"/>
      </p>

    </form>

  </div>
</div>
</body>
</html>