<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>Add Course</title>
</head>
<body>
<div class="container-fluid text-center d-flex align-items-center justify-content-center" style="height: 100vh">
  <form id="form" th:if="${error==false}" th:action="@{/add/student/course/{id}(id=${id})}" method="post" style="max-width: 300px;">
    <div class="border border-secondary p-3 rounded">
      <p>Choose course</p>
      <p>
        <select id="chosenCourse" class="form-control" name="course">
          <option value="">Select a course</option>
          <option th:each="course:${courses}"
                  th:value="${course.getId()}"
                  th:text="${course.getName()}">
          </option>
        </select>
      <p>
        <input type="submit" value="login" class="btn btn-dark"/>
      </p>

    </div>

  </form>
  <form id="form2" th:object="${selectedId}" th:if="${error}" th:action="@{/add/student/course/{id}/anyway(id=${id})}" method="post" style="max-width: 300px;">
    <div class="border border-secondary p-3 rounded">
      <p>Choose course</p>
      <p>
        <select id="chosenCourse1" class="form-control" name="course">
          <option value="">Select a course</option>
          <option th:each="course:${courses}"
                  th:value="${course.getId()}"
                  th:text="${course.getName()}"
                  th:selected="${course.getId() == selectedId}">
          </option>
        </select>
      <p th:if="${error}" class="alert alert-warning"  style="white-space: normal;" th:text="${warning}"></p>
      <p th:if="${error==false}" class="empty-message"><br></p>
      <p>
        <input type="submit" value="choose anyway" class="btn btn-dark" />
      </p>
      <p>
        <input type="submit" value="cancel" class="btn btn-dark" onclick="goback()"/>
      </p>

    </div>

  </form>
</div>

</body>
<script>
  function goback(){
    event.preventDefault();
    var id = [[${id}]];
    var link = "/show/student/courses/" + id;
    window.location.href = link;

  }

</script>
</html>