<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>courses</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/plan/admin">CoursePlan</a>
    <a class="nav-item nav-link" href="/students">Students</a>
    <a class="nav-item nav-link active" href="/courses">Courses</a>
    <a class="nav-item nav-link " href="/rooms">Rooms</a>
  </div>
  </div>
</nav>
<div class="container-fluid text-center d-flex align-items-center justify-content-center" >
  <div th:if="${courses==null}">
    no courses yet
  </div>
  <div th:unless="${courses==null}" class="border border-secondary p-3 rounded my-5 ">
      <h2 class="my-2">Courses</h2>
    <p><button id="btn" class="btn btn-dark" onclick="showPopup()">Add course</button> </p>
    <div id="popup" style="display:none;" class="border border-secondary p-4 rounded">
      <h2 class="mb-5">Add Course</h2>
      <form action="#" th:action="@{/add/course}" method="post" th:object="${course}">
        <p>
          <input type="text"  name="name" th:field="${course.name}" class="form-control" placeholder="name" required/>
        </p>
        <p>
          <select class="form-control" name="teacher">
            <option value="">Select a teacher</option>
            <option th:each="teacher:${teachers}"
                    th:value="${teacher}"
                    th:text="${teacher}">
            </option>
          </select>
        </p>
        <p>
          <input type="number" placeholder="hours per week" name="hours_per_week" min="0" max="8" step="0.5"  th:field="${course.hoursPerWeek}" class="form-control" required/>
        </p>
        <p>
          <select class="form-control" name="type">
            <option value="">select coursetype</option>
            <option th:each="type:${types}"
                    th:value="${type}"
                    th:text="${type}">
            </option>
          </select>
        </p>
        <p>
          <select class="form-control" name="field">
            <option value="">select branch of study</option>
            <option th:each="field:${fields}"
                    th:value="${field}"
                    th:text="${field}">
            </option>
          </select>
        </p>
        <p>
          <input type="text" name="description" th:field="${course.description}" class="form-control" placeholder="description" required/>
        </p>
        <p>
          <input type="submit" value="post" class="btn btn-dark"/>
        </p>

      </form>

    </div>


    <table  class="table table-striped table-responsive-md">
      <thead>
      <tr>
        <th>Name</th>
        <th>Hours</th>
        <th>Type</th>
        <th>Staff</th>
        <th>Field of Study</th>

        <th>Edit</th>
        <th>Delete</th>
        <th>add Preferences</th>
        <th th:if="${role == 'admin'}">set CourseTime</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="course : ${courses}">
        <td th:text="${course.getName()}"></td>
        <td th:text="${course.getHoursPerWeek()}"></td>
        <td th:text="${course.getType()}"></td>
        <td th:text="${course.getStaff()?.getLastName() ?: 'NO TEACHER'}"></td>
        <td th:text="${course.getField()}"></td>

        <td><a th:href="@{/edit/courses/{id}(id=${course.getId()})}" class="btn btn-dark"><i class="fas fa-edit ml-2"></i></a></td>
        <td><form action="#" th:action="@{/deleteconfirm/courses/{id}(id=${course.getId()})}" method="post">
          <button type="submit" class="btn btn-dark"><i class="fas fa-times mx-2"></i></button>
        </form></td>
        <td><a th:href="@{/courses/{id}/add_preferences(id=${course.getId()})}" class="btn btn-dark"><i class="fas fa-plus mx-2"></i></a></td>
        <td th:if="${role == 'admin'}"><a th:href="@{/courses/{id}/coursetimes(id=${course.getId()})}" class="btn btn-dark"><i class="fas fa-edit ml-2"></i></a></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>




</body>
<script>
  function showPopup() {
    var popup = document.getElementById("popup");
    popup.style.display="block";
    popup.class="container-fluid text-center d-flex align-items-center justify-content-center";
    popup.style.zIndex="9999";
    popup.style.position="fixed";
    popup.style.top="50%";
    popup.style.left="50%";
    popup.style.transform="translate(-50%, -50%)";
    popup.style.background="white";
  }
  function closePopup(){
    var popup = document.getElementById("popup");
    popup.style.display="none";
  }
  var popup = document.getElementById("popup");
  var btn = document.getElementById("btn");
  document.addEventListener("click", close);


  function close (event) {
    if(event.target!=popup && !popup.contains(event.target) && event.target != btn){
      closePopup();
    }

  }
</script>
</html>