<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>coursetimes</title>
</head>
<body>
<div class="container-fluid text-center d-flex align-items-center justify-content-center" >
  <div th:if="${times==null}">
    no courstimes yet
  </div>
  <div th:unless="${times==null}" class="border border-secondary p-3 rounded my-5 ">
    <p><button id="btn" class="btn btn-primary" onclick="showPopup()">Add CourseTime</button> </p>
    <div id="popup" style="display:none;" class="border border-secondary p-4 rounded">
    <h2 class="my-2">Course Times</h2>
    <form id="form" th:action="@{/add/times/{id}(id=${id})}"  method="post">

      <p>
        <select class="form-control" name="room" >
          <option value="">Select a Room</option>
          <option th:each="room:${rooms}"
                  th:value="${room.getId()}"
                  th:text="${room.getName()}">
          </option>
        </select>
      </p>
      <p>
        <select class="form-control" name="day" >
          <option value="">Select a Day</option>
          <option th:each="da:${days}"
                  th:value="${da}"
                  th:text="${da}">
          </option>
        </select>
      </p>
      <p>
        <input type="time" min="08:00" step="3600" name="time" id="time" th:attr="timeslot=${hoursperweek}" class="form-control" placeholder="start-time" required/>
        <script>
          const timeSetter = document.getElementById("time");
          const hoursPerWeek = parseInt(timeSetter.getAttribute("timeslot"));
          const until = 23- hoursPerWeek;
          const upperBound = until.toString() + ":00";
          timeSetter.max = upperBound
        </script>
      </p>
      <p>
        <input type="time" min="" step="3600" name="time2" id="time2"  class="form-control" placeholder="end-time" required/>
      </p>
      <script>
        const time1 = document.getElementById("time");
        const time2 = document.getElementById("time2");

        function updateTime2Max() {
          const start = parseInt(time1.value.split(":")[0]);
          const end = start + hoursPerWeek;
          time2.max = end.toString() + ":00";
          time2.min = time1.value;
        }
        time1.addEventListener("change", updateTime2Max);
      </script>
        <p th:if="${error}" class="alert alert-warning"  style="white-space: normal;" th:text="${warning}"></p>
        <p th:if="${error==false}" class="empty-message"><br></p>
      <p>
      <input type="submit" value="post" class="btn btn-primary"/>
      </p>

    </form>
  </div>








    <table  class="table table-striped table-responsive-md">
      <thead>
      <tr>
        <th>Day</th>
        <th>Time</th>
        <th>Room</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="time : ${times}">
        <td th:text="${time.getDay()}"></td>
        <td th:text="${time.getStart() + ' : ' + time.getEnd()}"></td>
        <td th:text="${time.getRoom().getName()}"></td>
        <td><a th:href="@{/edit/time/{id}(id=${time.getId()})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
        <td><form action="#" th:action="@{/delete/times/{id}/{id2}(id=${time.getId()},id2=${id})}" method="post">
          <button type="submit" class="btn btn-primary"><i class="fas fa-times ml-2"></i></button>
        </form></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




</body>
<script>
    var doShow = [[${error}]];
    if(doShow) {
      showPopup();
    }

    function showPopup() {
    var popup = document.getElementById("popup");
    popup.style.display="block";
    popup.class="container-fluid text-center d-flex align-items-center justify-content-center";
    popup.style.zIndex="9999";
    popup.style.position="fixed";
    popup.style.top="50%";
    popup.style.left="50%";
    popup.style.transform="translate(-50%, -50%)";
    popup.style.width="250px"
    popup.style.background="white";
  }
  function closePopup(){
    var popup = document.getElementById("popup");
    popup.style.display="none";
  }
  var popup = document.getElementById("popup");
  var btn = document.getElementById("btn");
  document.addEventListener("click", close);


  function close (event) {
    if(event.target!=popup && !popup.contains(event.target) && event.target != btn){
      closePopup();
    }

  }
</script>
</html>