<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/plan">CoursePlan</a>
            <a th:if="${role == 'admin'}" class="nav-item nav-link" href="/students">Students</a>
            <a th:if="${role == 'admin'}" class="nav-item nav-link" href="/teachers">Teachers</a>
            <a th:href="@{/show/student/courses/{id}(id=${id})}" th:if="${role == 'student'}" class="nav-item nav-link" href="/courses">Courses</a>
            <a th:if="${role == 'admin' || role == 'assistant'}" class="nav-item nav-link" href="/courses">Courses</a>
            <a th:if="${role == 'admin'}" class="nav-item nav-link " href="/rooms">Rooms</a>
        </div>
    </nav>
    <div class="container-fluid text-center d-flex align-items-center justify-content-center" >

        <div class="border border-secondary p-3 rounded my-5" style=" width: 90vw;">
            <h1>Course Plan</h1>
            <div id="popup" style="display:none;" class="border border-secondary p-4 rounded">
                    <p class="alert alert-danger">One of your preferences was not considered!</p>
            </div>
            <div th:if="${valid!=null && !valid}" id="popup2" style="display:none;" class="border border-secondary p-4 rounded">
                <p class="alert alert-danger">The Table was not created successfully, not all Courses were assigned!</p>
            </div>

            <div th:if="${role == 'admin'}">
                    <p>
                    <form th:action="@{/createTable}"  method="post">
                        <button class="btn btn-dark" type="submit">Create Table</button>
                    </form>
                </p>
            </div>
            <table  class="table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th> </th>
                        <th class="p-2" th:each="date : ${dates}">[[${date.getDayOfMonth() + '.' + date.getMonthValue() + '.'}]]</th>
                    </tr>
                </thead>
                <tbody>

                <tr th:each="time : ${times}">
                    <td class="p-2 " th:text="${time[0] + ' - ' + time[1]}"></td>
                    <td th:each="date : ${dates}">
                        <p class="px-4 py-1" th:each="slot : ${table}" th:if="${slot.getStart() <= time[0] && slot.getEnd() > time[0] && slot.getDate().equals(date)}">
                            [[${slot.getTeacherCourse().getName()}]]
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    var doShow = [[${preferenceNotUsed}]];
    var once = [[${firstLogin}]];
    if(doShow && once){
        showPopup("popup");
    }
    var success = [[${valid}]];
    if(!success){
        showPopup("popup2");
    }

    function showPopup(variable) {
        var popup = document.getElementById(variable);
        popup.style.display="block";
        popup.class="container-fluid text-center d-flex align-items-center justify-content-center";
        popup.style.zIndex="9999";
        popup.style.position="fixed";
        popup.style.top="50%";
        popup.style.left="50%";
        popup.style.transform="translate(-50%, -50%)";
        popup.style.background="white";
    }
    function closePopup(param){
        var popup = document.getElementById(param);
        popup.style.display="none";
    }
    var popup = document.getElementById("popup");
    var btn = document.getElementById("btn");
    document.addEventListener("click", close);
    var popup2 = document.getElementById("popup2");
    document.addEventListener("click", close2);
    function close2 (event){
        if(event.target!=popup2 && !popup2.contains(event.target)){
            closePopup("popup2");
        }
    }


    function close (event) {
        if(event.target!=popup && !popup.contains(event.target)){
            closePopup("popup");
        }
    }


</script>
</html>