<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


  <title>rooms</title>
</head>
<body>
<div class="container-fluid text-center d-flex align-items-center justify-content-center" >
  <div class="border border-secondary p-3 rounded my-5">
    <h2 class="my-2">Rooms</h2>
    <p><button id="btn" class="btn btn-primary" onclick="showPopup()">Add room</button> </p>
    <div id="popup" style="display:none;" class="border border-secondary p-4 rounded">

    <h2 class="mb-5">Add Room</h2>
    <form action="#" th:action="@{/add/room}" method="post" th:object="${room}">
      <p>
        <input type="text"  name="name" th:field="${room.name}" class="form-control" placeholder="name" required/>
      </p>
      <p>
        <input type="number" name="seats" min="1" th:field="${room.seats}" class="form-control" placeholder="seats" required/>
      </p>

      <p>
        <input type="text" name="building" th:field="${room.building}" class="form-control" placeholder="building" required/>
      </p>
      <p>
        <input type="submit" value="post" class="btn btn-primary"/>
      </p>

    </form>

  </div>





    <table class="table table-striped table-responsive-md">
      <thead>
      <tr>
        <th>Room</th>
        <th>Seats</th>
        <th>Building</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="room : ${rooms}">
        <td th:text="${room.getName()}"></td>
        <td th:text="${room.getSeats()}"></td>
        <td th:text="${room.getBuilding()}"></td>
        <td><a th:href="@{/edit/rooms/{id}(id=${room.getId()})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
        <td><form action="#" th:action="@{/delete/room/{id}(id=${room.getId()})}" method="post">
          <button type="submit" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></button>
        </form></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
<script>
  function showPopup() {
    var popup = document.getElementById("popup");
    popup.style.display="block";
    popup.class="container-fluid text-center d-flex align-items-center justify-content-center";
    popup.style.zIndex="9999";
    popup.style.position="fixed";
    popup.style.top="50%";
    popup.style.left="50%";
    popup.style.transform="translate(-50%, -50%)";
    popup.style.background="white";
  }
  function closePopup(){
    var popup = document.getElementById("popup");
    popup.style.display="none";
  }
  var popup = document.getElementById("popup");
  var btn = document.getElementById("btn");
  document.addEventListener("click", close);


  function close (event) {
    if(event.target!=popup && !popup.contains(event.target) && event.target != btn){
      closePopup();
    }

  }
</script>
</html>